:root {
    --primary-grad: linear-gradient(135deg, #2563eb 0%, #a17ee2 100%);
}

.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    position: absolute;
    bottom: 0;
}

.header{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
}
.wrapper{

}
.main-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}