# PORTS
WEB_APP_PORT=3000
WEB_API_PORT=8000

# JWT
JWT_SECRET=string
JWT_ALGORITHM=string
ACCESS_TOKEN_EXPIRE_MINUTES=number

# MONGO
MONGO_URL=string
MONGO_DB_NAME=string

# FRONTEND
CHOKIDAR_USEPOLLING=boolean
